@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
  color: #fff;
}

.App {
  padding: 2rem;
}

body {
  background-color: #121212;
  font-family: "PT Serif", serif;
}

button {
  border: none;
  box-shadow: none;
}
